<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome Back</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo porro similique doloribus rerum optio, corrupti
        laboriosam rem tempora reiciendis amet voluptatibus exercitationem cumque dolorum qui ipsum, soluta magnam, nemo
        dignissimos.</p>
    
    <h3>User Properties</h5>
    <!-- Accessing user properties -->
    <p>User ID: {{user._id}}</p>
    <p>Issued At: {{user.iat}}</p>
</body>

</html>